.portfolio-container{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.portfolio-content-image{

    margin-top: 25px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
}
[data-title]{
    position: relative;
    line-height: 1.6;
    letter-spacing: 1px;
    font-size: 1.5rem;
    text-transform: capitalize;
}

[data-title]:after{

    text-align: center;
    content: attr(data-title);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; 
    padding: 0.2em; 
    pointer-events: none;
    opacity: 0; 
}

[data-title]:hover::after {
    opacity: 1;
}

.portfolio-element{
    width: 100%;
    height: 500px;
    height: 100%;
    transition:.2s all; 
}

.portfolio-element:hover{
    filter: grayscale(100%);
}

.portfolio-img{
    height: 100%; 
    width: 100%;
    pointer-events: none;
    background-color: aqua;
}
@media screen and (max-width: 576px) {
    .portfolio-content-image{
        margin-top: 5px;
        display: flex;
        flex-direction: column;
    }

    [data-title]:after{
        opacity: 1; 
        top: 95%;
        left: 80%;
    }
    .portfolio-element:hover{
        filter: none;
    }
    
}