.wrapper{
    width: 100%;
    margin-left: 23.5%;
}

@media screen and (max-width: 991.98px){
    .wrapper{
        margin-top: 100px;
        margin-left: 0px;
        height: calc(100vh - 100px);

    }
}

@media screen and (max-width: 576px) {
    .wrapper{
     width: 100%;
     margin-top: 10vh;
     margin-left: 0px;
    }
}