.wrapper{
    width: 100%;
    margin-left: 320px;
}

@media screen and (max-width: 991.98px){
    .wrapper{
        margin-top: 100px;
        margin-left: 0px;
    }
}

@media screen and (max-width: 576px) {
    .wrapper{
     width: 100%;
     margin-top: 10vh;
     margin-left: 0px;
    }
}