.nav-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 23.5%;
    width: 320px;
    height: 100%;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    align-self: center;
    align-items: center;
}

.nav-button-content{
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.nav-button{
    width: 320px;
    height: 45px;
    background: none;   
    border: none; 
    align-self: center;
    font-family: Graphik LCG;
    font-style: normal;
    font-weight: 100;
    font-size: 22px;
    line-height: 37px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #282828;
    padding: 0;
}

.nav-button:hover{
    background: #e1e1e1;
}

.nav-button-text{
    text-decoration: none;
}
.nav-button-text:hover{
    color: black;
}
.nav-logo{
    padding-top: 25px;
}
.nav-socialMedia{
    padding-bottom: 15px;
}
.img{
    pointer-events: none;
    align-items: center;
}
.dispay{
    display: block;
}
.menuIcon-media{
    display: none;
}

.active {
    background: #e1e1e1;

  }
@media screen and (max-width: 576px) {
    .nav-container{
        display: flex;
        flex-direction: row;
        position: fixed;
        top: 0;
        left: 0;
        background: #fff;
        width: 100%;
        height: 70px;
        align-items: center;
    }



    .nav-logo{
        padding: 0;
        display: block;
    }
    .img{
        width:45%;
        align-self: center;
    }

    .menuIcon-media{
        margin-right: 20px;
        display: block;
    }
    .display-closet{
        display: none;
    }

    .dispay-open{
        display: block;
    }

    .open-menu{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        justify-content: space-evenly;
    }

}