.nav-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    top: 0;
    left: 0;
    width: 23.5%;
    height: 100%;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    align-self: center;
    align-items: center;
}

.nav-button-content{
    display: flex;
    flex-direction: column;
    margin-bottom: 40%;
}

.nav-button{
    width: 320px;
    height: 45px;
    background: none;   
    border: none; 
    align-self: center;
    font-family: Graphik LCG;
    font-style: normal;
    font-weight: 100;
    font-size: 22px;
    line-height: 37px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #282828;
    padding: 0;
}

.nav-button:hover{
    background: #e1e1e1;
}

.nav-button-text{
    text-decoration: none;
}
.nav-button-text:hover{
    color: black;
}


.img{
    pointer-events: none;
    align-items: center;
}
.dispay{
    display: block;
}
.menuIcon-media{
    display: none;
}

.active {
    background: #e1e1e1;
  }

  .toogle-content{
      margin-top: 20%;
  }


@media screen and (max-width: 1199.98px) {
    .nav-container{
        justify-content: space-between;
    }
    .nav-button-content{
        margin-bottom: 80%;
    }
    .nav-logo{
        margin-top: 20%;
    }

}

@media screen and (max-width: 992px) {
    .nav-container{
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        height: 100px;
        margin-top: 20%;
    }

    .nav-logo{
        padding-top: 0px;
        margin-top: 0;
    }

    .img{
        width:55%;
        align-self: center;
    }

    .menuIcon-media{
        display: block;
        position: absolute;
        left: 93%;
    }

    .nav-button-content{
        width: 100%;
    }

    .nav-button{
        width: 100%;
    }
    .toogle-content{
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #F8F8F8;
        align-items: center;
        margin: 0 auto;
        inset:  0 0 0 65%;
        transition: transform 350ms ease-in-out;
    }
    
    .display-closet{
        transform: translateX(100%);
    }

    .dispay-open{
        transform: translateX(0%);
    }
}

@media screen and (max-width: 576px) {

    .nav-container{
        height: 10vh;
    }

    .nav-logo{
        margin: 0;
        display: block;
    }
    .img{
        width:45%;
    }

    .nav-button-content{
        width: 70%;
        margin-bottom: 15%;
    }

    .toogle-content{
        inset:  0 0 0 0%;
        background-color: #fff;
    }

    .menuIcon-media{
        left: 90%;
    }

}