.nav-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    align-self: center;
    align-items: center;
    width: 23.5%;
}

.nav-button-content{
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.nav-button{
    width: 320px;
    height: 45px;
    background: none;   
    border: none; 
    align-self: center;
    font-family: Graphik LCG;
    font-style: normal;
    font-weight: 100;
    font-size: 22px;
    line-height: 37px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #282828;
}

.nav-button:hover{
    background: #e1e1e1;
}

.nav-button-text{
    text-decoration: none;
}
.nav-button-text:hover{
    color: black;
}

.nav-socialMedia{
    padding-bottom: 15px;
}