.home-conatiner {
    width: 100%;
}

.bg{
    background-size:100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
}

.carousel{
    height: 100vh !important;
}
@media screen and (max-width: 576px){
    .carousel{
        height: 90vh !important;
    }
}