.portfolioDetails-container{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: 90%;
}

.portfolioDetails-imageList{
    margin-top: 25px;
    column-gap: 10px;
    column-count: 3 !important;
    column-gap: 0 !important;
}
.portfolioDetails-imageListItem{
    width: 90%;
    column-gap: 10px;
}

.portfolioDetails-image{
    pointer-events: none;
    margin-bottom: 10px;
    height: 200px;
    width: 21.6vw !important;
}

@media screen and (max-width: 991.98px) {
    .portfolioDetails-image{
        width:28vw !important;
    }
}
@media screen and (max-width: 575.98px) {

    .portfolioDetails-imageList{
        margin-top: 25px;
        column-gap: 10px;
        column-count: 2 !important;
        column-gap: 0 !important;
    }

    .portfolioDetails-image{
        width: 40vw !important;
    }

}
