
@import url('https://fonts.googleapis.com/css?family=Righteous');

.aboutme-container{
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   height: 100vh;
}

.aboutme-content{
  border-top: 1px solid black;
	display: flex;
	flex-direction: row;
	margin-inline: auto;
	height: 35.7vw;
}

.aboutme-information{
	width: 26vw;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 10%;
	margin-right: 22px;
}

.aboutme-title{
	font-style: normal;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 1.4rem;
	line-height: 149%;
	text-align: center;
	letter-spacing: 0.04em;
}

.aboutme-text{
	font-style:italic;
	font-size: 0.938rem;
}

.arrow {
	font-size: 14px;
	line-height: 20.86px;
	color: black;
	cursor: pointer;
	align-items: flex-start;
	text-transform: uppercase;
	position: relative;
	transition: transform 0.3s;
	margin-left: 10px;
}
.arrow span {
	 width: 100px;
	 opacity: 0;
	 transition: opacity 0.3s 0s;
	 padding: 0 0.5em;
}
 .arrow:hover span {
	 opacity: 1;
	 transition: opacity 0.3s 0.1s;
}
.arrow:before {
	 content: '';
	 display: block;
	 border: solid black;
	 border-width: 2px 2px 0 0;
	 position: absolute;
	 top: 4px;
	 width: 10px;
	 height: 10px;
}
 .arrow.arrow--right:before {
	 left: 0;
	 transform: rotate(45deg);
	 transition: left 0.3s 0.2s;
} 
.arrow.arrow--right:hover:before {
	 left: 100%;
	 transition: left 0.3s;
}
.aboutMe-contact-link{
    text-decoration: none;
    color: black;
}
.aboutMe-contact-link:hover{
    color: black;
}

.aboutme-image{
	display: flex;
	margin-top: 35px;
	width: 27vw;
}

.aboutme-avatar{
	background-repeat: no-repeat !important;
	background-position: top !important;
	background-size: cover !important;
	width: 100%;
	height: 100%;
}

@media screen and (max-width: 1399.98px) {

	 .aboutme-content{
		 height: auto;
	 }
	 .aboutme-title{
		 font-size: 1rem;
	 }
	 
	 .aboutme-text{
		 font-size: 0.875rem;
	 }
}


@media screen and (max-width: 991.98px) {

	.aboutme-container{
		align-items: flex-start;
		height: calc(100vh - 100px);
	}

	.aboutme-content{
		width: 85vw;
		height: 60%;
		margin-top: 20%;

	}
	.aboutme-information{
		width: 45%
	}
	.aboutme-image{
		width:55%;
		margin-top: 42px;
	}
}

@media screen and (max-width: 576px) {

	 .aboutme-content{
		 flex-direction: column-reverse;
		 align-items: center;
		 justify-content: center;
		 width: 90vw;
		 height: auto;
		 margin-top: 0;
	 }

	 .aboutme-information{
		width: 90vw;
		height: 400px;
		margin-right: 0;
		margin-bottom: 6rem;
		margin: 1rem 0 2rem;
	 }

	 .aboutme-image{
		 height: 250px;
		 width: 250px;
		 justify-content: center;
		 align-items: center;
	 }

	 .aboutme-avatar{
		background-repeat: no-repeat !important;
		background-position: top !important;
		background-size: cover !important;
		width: 100%;
		height:100%;
		border-radius: 50%;
	}
}